In [26]:
import matplotlib.pyplot as plt
import pandas 
import numpy
import random

In [94]:
data_path = '~/Documents/Uni/qm2g1/data/protests_data_filtered.csv'
protest_data =  pandas.read_csv(data_path, index_col=0)

In [133]:
corruption_data_path = '~/Documents/Uni/qm2g1/data/corruption_data_test.csv'
corruption_data =  pandas.read_csv(corruption_data_path, index_col=0)

In [134]:
corruption_data = corruption_data.drop(columns=['Country Code','Indicator Name', 'Indicator Code'])

In [135]:
corruption_data.head()

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
country,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,2.5,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
Angola,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,3.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
corruption_data_melted = pandas.wide_to_long(corruption_data, stubnames = 'years' , i = 'country', j = '2005')

KeyError: "None of [Index(['country'], dtype='object')] are in the [columns]"

In [159]:
corruption_data_melted.head()

  variable value
0     year  2005
1     year  2005
2     year  2005
3     year  2005
4     year  2005